src/META-INF/wsdl/localhost_8001/ws/miService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://ws.javawebserviceserver/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.javawebserviceserver/">

<xs:element name="MiServiceFault" nillable="true" type="tns:miServiceFault"></xs:element>

<xs:element name="saludo" type="tns:saludo"></xs:element>

<xs:element name="saludoResponse" type="tns:saludoResponse"></xs:element>

<xs:complexType name="saludo">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saludoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="miServiceFault">
<xs:sequence>
<xs:element name="faultCode" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="faultString" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>